@font-face {
  font-family: jatin;
  src: url(./xyz/jatin.ttf);
}
@font-face {
  font-family: jattu;
  src: url(./xyz/jattu.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Gilroy'; */
  font-family: jatin;
}
html,
body {
  height: 100%;
  width: 100%;
}

#page1 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  position: relative;
  padding: 0 2vw;
}
nav {
  padding: 2vw 0vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav-part2 {
  display: flex;
  align-items: center;
  gap: 1vw;
}
#nav-part2 h4 {
  padding: 10px 20px;
  border: 1px solid #8a8a8a89;
  border-radius: 50px;

  position: relative;
  transition: all ease 0.4s;
  overflow: hidden;
}
#nav-part2 h4::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}
#nav-part2 h4:hover::after {
  bottom: 0;
  border-radius: 0;
}
#nav-part2 h4 a {
  text-decoration: none;
  color: rgb(86, 78, 78);
  font-weight: 500;
  font-size: 18px;
  z-index: 9;
  position: relative;
}
#nav-part2 h4:hover a {
  color: white;
}
/* nav bar ends here */

#center {
  height: 65vh;
  width: 100%;
  /* background: black;
   */
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #bebbb5;
  padding-bottom: 3.5vw;
}
#left {
  width: 25vw;
  font-size: 1.8vw;
  font-family: jattu;
  line-height: 2vw;
}
#center h1 {
  font-size: 10vw;
  text-align: right;

  line-height: 8vw;
}
#page1 video {
  position: relative;
  width: 100%;
  border-radius: 30px;
  margin-top: 4vw;
}
/* animation */
#hero-shape {
  position: absolute;
  height: 36vw;
  width: 35vw;
  right: 0;
  top: 65vh;
}
#hero-1 {
  height: 100%;
  width: 100%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  background-color: #fe4513;
  filter: blur(20px);
  position: absolute;
}
#hero-2 {
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  background: linear-gradient(#fe4513, #e35831);
  filter: blur(25px);
  position: absolute;
  animation-name: anime2;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
#hero-3 {
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  background: linear-gradient(#fe4513, #e35831);
  filter: blur(25px);
  position: absolute;
  animation-name: anime1;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes anime1 {
  from {
    transform: translate(60%, -5%);
  }
  to {
    transform: translate(5%, 20%);
  }
}

@keyframes anime2 {
  from {
    transform: translate(10%, -5%);
  }
  to {
    transform: translate(-50%, 30%);
  }
}

/* page-1 completed */

#page2 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  padding: 8vw 0;
  position: relative;
}
#moving-text {
  white-space: nowrap;
  overflow-x: auto;
}
#moving-text h1 {
  font-size: 9vw;
  display: inline-block;
}
#gola {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #fe4513;
  display: inline-block;
  margin: 1vw 2vw;
}
.con {
  white-space: nowrap;
  display: inline-block;
  animation-name: move;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#moving-text::-webkit-scrollbar {
  display: none;
}
@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
/* scroll bar completed

*/
#page2-bottom {
  /* background-color: aqua; */
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4.5vw;
  position: relative;
  z-index: 9;
}
#page2-bottom h1 {
  font-size: 4vw;
  width: 60%;
  line-height: 4vw;
  font-weight: bolder;
}
#bottom-part2 {
  width: 20%;
  margin-top: 300px;
  /* background-color: aquamarine; */
}
#bottom-part2 img {
  width: 100%;
  border-radius: 15px;
}
#bottom-part2 p {
  font-weight: 100;
  font-size: 1vw;
  line-height: 1.35vw;
  margin-top: 2.3vw;
  font-family: jatin;
}
/* here another animation starts */
#page2 #gooey {
  height: 33vw;
  width: 33vw;
  /* margin-top: -550px; */

  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #fe330a, #f4681c);
  top: 58%;
  left: 25%;
  filter: blur(20px);
  animation-name: gooey;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes gooey {
  from {
    transform: translate(10%, -10%) skew(0);
  }
  to {
    transform: translate(-10%, 10%) skew(-12deg);
  }
}

/* page 3 starts form here */
#page3 {
  min-height: 100vh;
  width: 100%;
  padding: 4vw 0;
  background-color: #efeae3;
  /* padding:8vw 0; */
}

/* jatin customizations */

#page3 #page3-top{
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 10px;
  height: 10vh;
  width: 100%;
  padding:0vh 4vh;
}
#page3 #page3-top h1{
  font-size: .2vw;

  font-weight: 50;

}
#page3 #page3-top .ball{
margin-top:.2vh;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #fe4513;
}


.elem {
  height: 150px;
  width: 100%;
  position: relative;
  /* background-color: rgb(255, 0, 0); */
  /* border-top: 1px solid black; */
  border-bottom: 1px solid #c1bcb5;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
}
.elem #side{
display: flex;
/* align-items: center; */
/* justify-content: flex-end;
 */
 text-align: right;
/* background-color: red; */
flex-direction: column;

}
.elem #side h3{
  font-size: 1vw;
  font-weight: lighter;
  opacity: .7;
  text-align: right;
  z-index: 100000;

}
.elem #side h4{
  font-size: .9vw;
  font-weight: 50;
  opacity: .4;
  text-align: right;
  z-index: 100000;
  /* margin-top: 1vw; */

}
.elem h2 {
  font-size: 3vw;
  position: relative;
  z-index: 9;
}
.elem .overlay {
  height: 100%;
  width: 100%;
  background-color: #ff9831;
  position: absolute;
  left: 0;
  top: -100%;
  transition: all ease 0.15s;
  opacity: 0;
}
.elem:hover .overlay {
  top: 0;
  opacity: 1;
}
#fixed-image {
  height: 30vw;
  width: 23vw;
  background-color: red;
  border-radius: 10px;
  position: fixed;
  z-index: 99;
  left: 50%;
  top: 25%;
  background-size: cover;
  background-position: center;

  display: none;
}





















/* new page starts from here */
#new{
/* background-color: #0b0501; */
  background-color: #efeae3;
  height: 119vh;
width: 100%;
  padding:0 2vw ;


}
.btn{
  padding-left: 2vw;
  height: 5vh;
  width: 10vw;
  display: flex;
  gap: 11px;

  align-items: center;
  background-color:#efeae3;
  border:1px solid #BEBBB5;
  border-radius: 40px;
  position: relative;
  transition: all ease 0.4s;
  overflow: hidden;



}
.btn h3 a{
  text-decoration: none;
  color: rgb(86, 78, 78);
  font-weight: 500;
  font-size: 18px;
  z-index: 9;
  position: relative;
}
.btn:hover a{
  color:white;
}

.btn::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background-color: black;
  color:white;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}
.btn:hover::after{
  bottom: 0;
  /* background-color: black; */
  border-radius: 0;

  cursor: pointer;
}

.btn h3{
  margin-left: -8px;
  /* font-size: 1vw;
  font-weight: 50;
  opacity: .7; */
  gap: 20px;
}
.btn .arrow{
opacity: .5;
  box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    box-shadow: inset 0 0 0 2px;
    width: 24px;
    height: 6px
}

.btn .arrow:after{

  content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    right: 0;
    bottom: -2px
}

#new .design{
  margin-top: 15vh;
  background-color: #0B0501;
  border-radius: 18px;
  height: 97vh;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  overflow:hidden;


}
.design .left{
height: 40vh;
  width:45%;
  margin-left:-40px ;
  color:white;
  /* background-color: red; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.design .left .headings{

display: flex;
align-items: flex-start;
/* justify-content: center; */
flex-direction: column;
  height: 35vh;
  width: 19vw;
  border-left:3px solid #e35831;
  margin-bottom: 3vw;

  position: relative;


}
.design .left .headings h1{
  font-family: jatin;
  /* background-color: red; */
  font-size: 4vw;
  font-weight: 900;
  display: flex;
  padding-left: 15px;

  text-align: left;





}
.design .left .headings h1:nth-child(2){
opacity: .5;
}
.design .left .headings h1:nth-child(3){
  opacity: .5;
}

.design .left p{
  width:360px ;
  opacity:.8;
  font-size: large;
  line-height: 1.2vw;

}

.design .right{
width:55%;
/* background-color: red; */


}

.design .right img{
  height: 100vh;
  border-radius:50px;


}













































/* page 3 ends here */
#page4 {
  height: 70vh;
  width: 100%;
  background-color: #efeae3;
  padding: 10vw 2vw;
}
#page4 .swiper .swiper-slide img{

}
#page4 .swiper .swiper-slide p{
  margin-top: 3vw;
line-height: 24px;
}



#page4 #page3-top{
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 10px;
  height: 10vh;
  width: 100%;
  padding:0vh 4vh;
}
#page4 #page3-top h1{
  font-size: .2vw;

  font-weight: 50;

}
#page4 #page3-top .ball{
margin-top:.2vh;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #fe4513;
}
#main {
  /* background-color: black; */
  position: relative;
  z-index: 10;
}

#page5 {
  height: 100vh;
  width: 100%;
  /* background-color: #EFEAE3; */
}

#footer {
  position: fixed;
  z-index: 9;
  height: 105vh;
  width: 100%;
  color: white;
  background-color: #0b0501;
  bottom: 0;
  display: flex;
  /* align-items: flex-end; */
  flex-direction: column;
  justify-content: flex-end;
  padding: 1vw 3vw;
}
#footer #top1{
  /* margin-top: 3vw; */
  height: 20000vh;
  width: 100vw;
  /* display: flex; */
  /* justify-content: flex-start; */
  margin-left:-250px;
  background-color: red;
  transform: rotate(-30deg);
  z-index: -2;
}



#footer #footer-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-direction: column; */


}
#footer #footer-div .head {
  height: 30vw;
  width: 15vw;
  display: flex;
  /* background-color: red; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:4vw;
  padding-bottom: 4vw;
  padding-left: 4vw;



}
#footer #footer-div .head h1{
  line-height: 2vw;
  font-size: 1.5vw;
  font-weight: 900;
  font-family: jattu;

}
#footer #footer-div .right
{
  display: flex;
  flex-direction: column;
}
#footer #footer-div .right p{

}
#footer #footer-div .right .text{

}
#footer #footer-div .right .text input{

}
#footer #footer-div .right .text a{

}





































#footer h1 {
  margin-bottom: -4vw;
  font-size: 23vw;
}
#footer-div {
  height: 20vh;
  width: 100%;
  /* background-color: #f4681c; */
  display: flex;
align-items: center;
justify-content: space-between;
}

#footer-bottom {
  border-top: 1px solid #504b45;
  height: 10vh;
  width: 100%;
}
/* swiper */
.swiper {
  width: 100%;
  height: 100%;
}

#page4 .swiper-slide {
  border-left: 1px solid #bebbb5;
  width: 25%;
  padding: 0 2vw;
}

/* responsive now */
@media (max-width: 600px) {
  #hero-1 {
    height: 100px;
    width: 100px;
    margin-top: 30vh;
  }
  #hero-2 {
    height: 80px;
    width: 80px;
    margin-top: 20vh;
  }
  #hero-3 {
    height: 70px;
    width: 70px;
    margin-top: 10vh;
  }
  #page2-bottom h1 {
    font-size: 3vw;
  }
  #page2 #gooey {
    height: 20vw;
    width: 20vw;
    margin-top: -150px;
  }
  #fixed-image {
    height: 20vw;
    width: 15vw;
    background-size: cover;
    background-position: center;
  }
  #footer h1 {
    font-size: 15vw;
  }
  #footer-div {
    height: 10vh;
  }
  #footer-bottom {
    height: 5vh;
  }
  #page4.swiper-slide {
    width: 100%;
    padding: 0;
  }
}

#loader {
  height: 100%;
  width: 100%;
  background-color: #0b0501;
  position: fixed;
  z-index: 999;
  top: 0;
  transition: all ease 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}
#loader h1 {
  font-size: 4vw;
  color: transparent;
  background: linear-gradient(orange, orangered);
  -webkit-background-clip: text;
  position: absolute;
  opacity: 0;
  animation-name: load;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: linear;
}
#loader h1:nth-child(2) {
  animation-delay: 2s;
}
#loader h1:nth-child(3) {
  animation-delay: 3s;
}
@keyframes load {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


